body, .form-container
{
    background-color: #24353f;
}
body
{
    height: 75vh;
}
p a:hover
{
    text-decoration: underline !important;
}
.form-container
{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1)
}
input::placeholder
{
    color:  rgb(182, 182, 182) !important;
}
.navbar
{
    background-color: #24353f !important;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
#usernameAlert, #userEmailAlert, #userPasswordAlert
{
    font-size: .8rem;
}
 @media screen and (min-width: 320px) {
    .form-container,.welcome{
        padding: 2rem !important;
        width: 95% !important;
    } 
    .form-container h2,.welcome h1{
        font-size: 2rem  !important;
        line-height: 46px  !important;
    }
    #username{
        font-size: 2rem;
    }
    a.signup{
        width: 100%;
        display: inline-block;
    }

}

 @media screen and (min-width:768px){
    .form-container{
        padding: 3rem !important;
        width: 75% !important;
    }
    .form-container h2{
        font-size: 2rem;
    }
    #username{
        font-size: 2.5rem;
    }
    a.signup{
        width: auto;
        display: inline;
    }
 }